extends layout


block content
  .container
    h1 Welcome to the bank interface #{user}
    .card.shadow-lg
      .row 
        .col
          h2 Send Funds 
        .col
          h4 Balance: #{balance}
      hr
      form(method='POST', action='/sendfunds')
        label amount to send:
        br
        input.form-control-lg.shadow(type="number" min="0" max=balance name="amount")
        br
        br
        label reciever:
        br
        input.form-control-lg.shadow(name='name', type='text')
        br
        br
        label Your Password:
        br
        input.form-control-lg.shadow(name='senderpass', type='password')
        br
        br


        input.btn.btn-primary(type='submit', value='Submit')
    br
