extends marketlayout

block content
  .container
    .card
      .row 
        .col
          .card
            img(src="/blockimages/items/"+item.itemId+"-"+item.meta+".png")
        .col
          .row 
            .col-sm-2
              p Item:
              p ID: 
            .col-sm-4 
              p #{item.name}
              p #{item.itemId}-#{item.meta}
            .col
              h4 Buy
            .col 
              h4 Sell
          .row 
            .col-sm-2
              
            .col-sm-4 
            
            .col
              a.btn.btn-primary(href="/marketplace/"+item._id+"/buy") Buy
            .col 
              a.btn.btn-primary(href="/marketplace/"+item._id+"/list") List
            
