extends marketlayout

block content
  .container
    .card
      .row 
        .col
          .card
            img(src="/blockimages/items/"+item.itemId+"-"+item.meta+".png")
        .col
          center
            .row 
              .col
                
                p Item:
                p ID: 
              .col
                p #{item.name}
                p #{item.itemId}-#{item.meta}
        .col
          .row
            .col
              center
                h4 Buy
            .col
              center
                h4 Sell
          .row 
            .col-xs
              
            .col-xs
            
            .col
              center
                a.btn.btn-primary(href="/marketplace/"+item._id+"/buy") Buy
            .col 
              center
                a.btn.btn-primary(href="/marketplace/"+item._id+"/list") List
            
