extends layout

block content
  .container
    h1 Register
    form(method='POST', action='/register')
      #form-group
        label Username:
        input.form-control(name='name', type='name')
        label Password:
        input.form-control(name='password',type='password')
        label Confirm:
        input.form-control(name='password2',type='password')
      br
      input.btn.btn-primary(type='submit',value='Submit')

    br
    br
    p Have An Account? 
    a(href="/login").btn.btn-primary Login
