extends layout


block content
  .container
    h1 Welcome to CCashBank Front End SETUP
    .card
      form(method='POST', action='/setup')
        #form-group
          label BANKAPIURL:
          input.form-control(name='url', type='url')
          label SSL enabled on front end? leave unchecked if unsure:
          input.form-control(name='secure', type='checkbox')
          label Enable marketplace:
          input.form-control(name='marketplace', type='checkbox')
          label MongoDB url insert if using marketplace
          input.form-control(name='mongo', type='text')
        br
        input.btn.btn-primary(type='submit',value='Submit')
        br
        br
